In [5]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
import scipy.optimize as opt
import math
import scipy.stats as stats
from scipy.stats import norm

In [6]:
def get_closes(tickers, start_date=None, end_date=None, freq=None):
    import pandas as pd
    pd.core.common.is_list_like = pd.api.types.is_list_like
    import pandas_datareader.data as web  
    closes = pd.DataFrame(columns = tickers, index=web.YahooDailyReader(symbols=tickers[0], start=start_date, end=end_date, interval=freq).read().index)
    for ticker in tickers:
        df = web.YahooDailyReader(symbols=ticker, start=start_date, end=end_date, interval=freq).read()
        closes[ticker]=df['Close']
    closes.index_name = 'Date'
    closes = closes.sort_index()
    return closes

### TICKERS -- FECHAS ###

In [19]:
# Informaci√≥n
ticker= ['SOXX', 'IYW', 'IHI', 'IBB', 'USMV'] 
start, end= '2018-10-18', '2019-10-18'

In [20]:
daily_closes = get_closes(ticker, start, end, freq='d') #d define es diario
daily_closes

                  SOXX         IYW         IHI         IBB       USMV
Date
2018-10-18  168.710007  180.100006  212.220001  113.000000  55.290001
2018-10-19  166.179993  179.460007  208.000000  111.220001  55.389999
2018-10-22  167.199997  180.929993  208.089996  109.620003  55.200001
2018-10-23  166.330002  180.470001  206.570007  109.089996  55.040001
2018-10-24  155.419998  171.779999  201.679993  102.809998  54.209999
2018-10-25  158.889999  177.589996  204.470001  103.989998  54.529999
2018-10-26  156.130005  173.660004  201.759995  103.610001  53.820000
2018-10-29  154.500000  170.410004  201.110001  102.610001  53.860001
2018-10-30  160.919998  173.199997  203.960007  103.629997  54.619999
2018-10-31  162.960007  177.570007  205.229996  104.070000  54.730000
2018-11-01  170.610001  179.449997  209.130005  108.070000  54.900002
2018-11-02  168.039993  176.050003  208.710007  108.099998  54.799999
2018-11-05  166.509995  175.149994  209.000000  108.029999  55.259998
2018-11-06  168.449997  176.360001  210.750000  108.500000  55.610001
2018-11-07  170.360001  181.289993  215.669998  111.029999  56.520000
2018-11-08  169.899994  180.429993  217.259995  110.169998  56.549999
2018-11-09  166.660004  177.070007  214.750000  107.730003  56.520000
2018-11-12  159.220001  171.070007  207.660004  104.449997  55.880001
2018-11-13  161.410004  171.309998  206.020004  104.029999  55.770000
2018-11-14  162.119995  169.839996  204.889999  101.919998  55.480000
2018-11-15  167.600006  173.770004  208.639999  104.150002  55.830002
2018-11-16  165.580002  173.270004  211.350006  105.050003  56.130001
2018-11-19  159.250000  166.169998  204.130005  102.800003  55.610001
2018-11-20  159.449997  163.619995  202.460007  102.180000  54.880001
2018-11-21  160.110001  165.160004  203.720001  102.800003  54.840000
2018-11-23  160.199997  163.710007  203.850006  103.209999  54.709999
2018-11-26  163.100006  167.570007  206.240005  104.970001  55.169998
2018-11-27  163.339996  167.309998  207.220001  104.699997  55.340000
2018-11-28  167.160004  173.089996  213.610001  107.540001  56.270000
2018-11-29  165.940002  172.399994  214.520004  107.489998  56.240002
...                ...         ...         ...         ...        ...
2019-09-09  214.479996  204.529999  245.720001  101.830002  64.160004
2019-09-10  215.440002  204.529999  244.550003  102.980003  63.630001
2019-09-11  218.669998  207.020004  248.419998  104.760002  63.840000
2019-09-12  219.160004  207.539993  250.639999  104.150002  64.120003
2019-09-13  218.720001  206.259995  248.789993  104.199997  63.830002
2019-09-16  217.309998  205.979996  247.639999  105.139999  63.709999
2019-09-17  217.789993  206.720001  249.240005  105.190002  64.250000
2019-09-18  218.190002  207.029999  250.059998  104.440002  64.309998
2019-09-19  216.759995  207.630005  250.100006  104.629997  64.410004
2019-09-20  212.770004  205.600006  250.910004  105.550003  64.250000
2019-09-23  215.279999  206.080002  249.960007  104.629997  64.339996
2019-09-24  210.779999  202.839996  247.860001  102.419998  63.950001
2019-09-25  214.309998  205.559998  247.360001  102.129997  64.019997
2019-09-26  214.580002  205.330002  246.610001  100.080002  64.139999
2019-09-27  209.559998  202.330002  243.949997   99.300003  63.799999
2019-09-30  211.410004  204.210007  247.240005   99.500000  64.099998
2019-10-01  209.429993  202.089996  243.419998   98.000000  63.560001
2019-10-02  206.369995  198.479996  238.149994   97.239998  62.680000
2019-10-03  210.000000  201.179993  241.940002   98.790001  63.099998
2019-10-04  213.490005  204.419998  245.869995   99.529999  64.029999
2019-10-07  212.240005  203.929993  243.539993   99.410004  63.680000
2019-10-08  205.669998  200.160004  235.580002   97.610001  62.980000
2019-10-09  209.029999  202.770004  239.110001   97.750000  63.410000
2019-10-10  211.070007  204.190002  240.059998   99.000000  63.700001
2019-10-11  216.050003  207.059998  241.699997  100.239998  63.770000
2019-10-14  216.020004  207.020004  241.669998  100.620003  63.680000
2019-10-15  220.770004  209.630005  244.330002  102.459999  63.840000
2019-10-16  217.639999  207.919998  243.460007  102.349998  63.869999
2019-10-17  218.009995  207.789993  244.880005  103.029999  64.029999
2019-10-18  215.699997  205.550003  245.839996  102.269997  64.080002

[252 rows x 5 columns]

In [21]:
daily_logret = np.log(daily_closes/daily_closes.shift()).dropna()
#daily_logret

### M√âTODO HIST√ìRICO - 1 ACTIVO ###

In [22]:
## METODO HISTORICO #####
NC = 95
NC_LARGO = 100-NC
NC_CORTO = NC
VAR_HIST = pd.DataFrame(index=['VAR LARGO', 'VAR CORTO'], columns=ticker)

for i in range(len(ticker)):
    VAR_HIST.loc['VAR LARGO'][i]=np.percentile(daily_logret.iloc[:,i].values, NC_LARGO).round(6)*100
    VAR_HIST.loc['VAR CORTO'][i]=np.percentile(daily_logret.iloc[:,i].values, NC_CORTO).round(6)*100

VAR_HIST

             SOXX     IYW     IHI     IBB    USMV
VAR LARGO -3.1346 -2.5905 -2.5616 -2.3949 -1.3398
VAR CORTO  2.9567  2.2006  1.7261  2.0462  1.0746

## M√âTODO PARAM√âTRICO - 1 ACTIVO ###

In [24]:
## METODO PARAM√âTRICO ####
NC = .95
NC_LARGO = 1-NC
NC_CORTO = NC
Z_LARGO= norm.ppf(NC_LARGO)
Z_CORTO= norm.ppf(NC_CORTO)
print("Z-VALUE Largo: ", Z_LARGO)
print("Z-VALUE Corto: ", Z_CORTO)


start, end= '2019-09-20', '2019-10-18'
daily_closes_lastmonth = get_closes(ticker, start, end, freq='d') #d define es diario
daily_logret_lastmonth = np.log(daily_closes_lastmonth/daily_closes_lastmonth.shift()).dropna()

##POSIBLE OPTIMIZACI√ìN??, RESTAR A LA FECHA DEL PRINCIPIO??######
STDV = pd.DataFrame(index=['STDV'], columns=ticker)
for i in range(len(ticker)):
    STDV.loc['STDV'][i]=daily_logret_lastmonth.iloc[:,i].values.std().round(6)*100
STDV

VAR_PARAM = pd.DataFrame(index=['STDV', 'VAR LARGO', 'VAR CORTO'], columns=ticker)
for i in range(len(ticker)):
    VAR_PARAM.loc['STDV'][i]= float(STDV.iloc[:,i].values)
    VAR_PARAM.loc['VAR LARGO'][i]= float(STDV.iloc[:,i].values*Z_LARGO)
    VAR_PARAM.loc['VAR CORTO'][i]= float(STDV.iloc[:,i].values*Z_CORTO)
VAR_PARAM

Z-VALUE Largo:  -1.6448536269514722
Z-VALUE Corto:  1.6448536269514722

              SOXX      IYW      IHI      IBB     USMV
STDV         1.595   1.1654   1.2778   1.1534   0.6535
VAR LARGO -2.62354 -1.91691 -2.10179 -1.89717 -1.07491
VAR CORTO  2.62354  1.91691  2.10179  1.89717  1.07491

### M√âTODO HIST√ìRICO - PORTAFOLIO ###

In [36]:
PONDS = [ 0.23, 0.27, 0.21, 0.08, 0.21 ]
NC = 95
NC_LARGO = 100-NC
NC_CORTO = NC

SUMAPRODUCTO = pd.DataFrame(columns=['SUMAPRODUCTO'])
for i in range(len(daily_logret)):
    SUMAPRODUCTO.loc[i]= np.sum(daily_logret.iloc[i,:].values*np.transpose(PONDS))
#SUMAPRODUCTO

VAR_PORTA_HIST = pd.DataFrame(index=['VAR LARGO', 'VAR CORTO'], columns= ['VAR HIST PRTFLO'])
VAR_PORTA_HIST.loc['VAR LARGO']= np.percentile(SUMAPRODUCTO.iloc[:,].values, NC_LARGO).round(6)
VAR_PORTA_HIST.loc['VAR CORTO']= np.percentile(SUMAPRODUCTO.iloc[:,].values, NC_CORTO).round(6)
VAR_PORTA_HIST

          VAR HIST PRTFLO
VAR LARGO       -0.022946
VAR CORTO        0.018623

### M√âTODO PARAM√âTRICO - PORTAFOLIO ###

In [33]:
### METODO PARAM√âTRICO ####
PONDS =[ 0.23, 0.27, 0.21, 0.08, 0.21 ]
NC = .95
NC_LARGO = 1-NC
NC_CORTO = NC
Z_LARGO= norm.ppf(NC_LARGO)
Z_CORTO= norm.ppf(NC_CORTO)
print("Z-VALUE Largo: ", Z_LARGO)
print("Z-VALUE Corto: ", Z_CORTO)

start, end= '2019-09-20', '2019-10-18' ## 28 DIAS AL PASADO!
#https://www.timeanddate.com/date/workdays.html?d1=18&m1=10&y1=2019&d2=10&m2=9&y2=2019&ti=on&

daily_closes_lastmonth = get_closes(ticker, start, end, freq='d') #d define es diario
daily_logret_lastmonth = np.log(daily_closes_lastmonth/daily_closes_lastmonth.shift()).dropna()

Z-VALUE Largo:  -1.6448536269514722
Z-VALUE Corto:  1.6448536269514722

In [34]:
# MATRIZ DE COVARIANZA CON RENDIMIENTOS DIARIOS
cov_matrix = daily_logret_lastmonth.cov()
VARIANZA = cov_matrix.dot(PONDS).dot(np.transpose(PONDS))
cov_matrix

          SOXX       IYW       IHI       IBB      USMV
SOXX  0.000268  0.000189  0.000173  0.000141  0.000083
IYW   0.000189  0.000143  0.000131  0.000105  0.000067
IHI   0.000173  0.000131  0.000172  0.000112  0.000080
IBB   0.000141  0.000105  0.000112  0.000140  0.000048
USMV  0.000083  0.000067  0.000080  0.000048  0.000045

In [35]:
VAR_PARAM_PORT = pd.DataFrame(index=['VARIANZA', 'STDV', 'VAR LARGO', 'VAR CORTO'], columns= ['PARAM PRTFLO'])
VAR_PARAM_PORT.loc['VARIANZA']= VARIANZA
VAR_PARAM_PORT.loc['STDV']= np.sqrt(VARIANZA)
VAR_PARAM_PORT.loc['VAR LARGO']= np.sqrt(VARIANZA) * Z_LARGO
VAR_PARAM_PORT.loc['VAR CORTO']= np.sqrt(VARIANZA) * Z_CORTO
VAR_PARAM_PORT

          PARAM PRTFLO
VARIANZA   0.000127859
STDV         0.0113075
VAR LARGO   -0.0185991
VAR CORTO    0.0185991

### VAR - 1 DERIVADO ###

In [689]:
def VAR_DER(TITULOS, PRIMA, K, Z, SIGMASUB,DELTA):
    EXPOSURE = TITULOS*PRIMA
    return EXPOSURE*DELTA*SIGMASUB*Z


### PAR√ÅMETROS DE LA OPCI√ìN #### 
TITULOS = 5000000
K = 20
PRIMA = .362
DELTA = .48
SIGMASUB= .0051
NC = .05

####
Z = norm.ppf(NC)
VARDER = VAR_DER(TITULOS,PRIMA,K,Z,SIGMASUB,DELTA)
####
print("VAR DE OPCI√ìN", VARDER.round(4))
print("PARA HACER NEUTRA MI POSICI√ìN DEBO CUBRIR DELTA HEDGE CON:", DELTA*TITULOS)

VAR DE OPCI√ìN -7288.149
PARA HACER NEUTRA MI POSICI√ìN DEBO CUBRIR DELTA HEDGE CON: 2400000.0

In [728]:
### COBERTURA ###
SPOT = 19.444
SPOT_CHANGE = .20
DELTA_NEW = .4664
DELTAHEDGE = -TITULOS*DELTA
DELTAHEDGE_SPOT = DELTAHEDGE*SPOT
#### EN DOLARES
DELTAHEDGE, DELTAHEDGE_SPOT

(-2400000.0, -46665600.0)

In [726]:
PL = pd.DataFrame(index=['VALOR OPCION', 'VALOR SPOT'], columns= ['INICIALES', 'SPOT +-', 'TOTAL'])
PL.loc['VALOR OPCION']['INICIALES']=EXPOSURE
PL.loc['VALOR SPOT']['INICIALES']=DELTAHEDGE*SPOT
PL.loc['VALOR OPCION']['SPOT +-']=TITULOS*DELTA_NEW
PL.loc['VALOR SPOT']['SPOT +-']=DELTAHEDGE*(SPOT+SPOT_CHANGE)
PL.loc['VALOR OPCION']['TOTAL']=TITULOS*DELTA_NEW - EXPOSURE
PL.loc['VALOR SPOT']['TOTAL']=DELTAHEDGE*(SPOT+SPOT_CHANGE)-DELTAHEDGE*SPOT 
print("TU P&L NETO ES:", PL.loc['VALOR OPCION']['TOTAL']+PL.loc['VALOR SPOT']['TOTAL'])
####
PL

TU P&L NETO ES: 42000.00000000745

                INICIALES      SPOT +-   TOTAL
VALOR OPCION     1.81e+06    2.332e+06  522000
VALOR SPOT   -4.66656e+07 -4.71456e+07 -480000

### VAR - PORTAFOLIO  DERIVADOS ###